* {
            box-sizing: border-box;
        }
        /*
        body {
            background-color: #F0F4F8;
            padding: 20px;
            font-family: Cabin;
        }*/

        /* Center website */
        /*.main {
            max-width: 1000px;
            margin: auto;
        }
        /*
        h1 {
            font-size: 50px;
            font-style: Bold;
            color: #183149;    
            font-family: Cabin;
        }

        h2 {
            font-size: 30px;
            font-style: Bold;
            color: #183149;    
            font-family: Cabin;
        }
        */
        .row {
            margin: 10px -16px;
        }

        /* Add padding BETWEEN each column */
        .row,
        .row > .column {
            padding: 8px;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 33.33%;
            display: none; /* Hide all elements by default */
        }

        /* Clear floats after rows */ 
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Content */
        .content {
            background-color: white;
            padding: 10px;
        }

        /* The "show" class is added to the filtered elements */
        .show {
            display: block;
        }

        /* Style the buttons */
        .btn {
            font-family: Cabin;
            font-style: Bold;
            font-size: 15px;
            border-radius: 5px;
            border: none;
            box-shadow: 0px 8px 15px rgba (0,0,0,0.1);
            padding-top: 12px;
            padding-right: 27px;
            padding-bottom: 12px;
            padding-left: 27px;
            background-color: #183149;
            color: white;
            cursor: pointer;

        }

        .btn:hover {
            background-color: #183149;
        }

        .btn.active {
            background-color: #183149;
            color: white;
        }